# EDA Project: Heart Prediction Dataset Analysis
# Name of group Members -- Praveen,Janani,Monisha,Varsha.Vishwa
# Group - 11th Group 
# Name of the file Heart Prediction Dataset.ipynb
## I. Project Setup

### Import Libraries

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load the Dataset

In [19]:
#Load the Heart Attack prediction data set 
df1=pd.read_csv("Heart Prediction Quantum Dataset_1.csv")

## II. Data Import and Cleaning

### Initial Data Inspection

# shape of the dataset # data types # Summary # first 5 rows

In [36]:
print("Checking the shape of the dataset : ")
df1.shape

Checking the shape of the dataset :

(500, 8)

In [21]:
print("Type of the datatype is : ",type(df1))

Type of the datatype is :  <class 'pandas.core.frame.DataFrame'>

In [22]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      500 non-null    int64
 1   Gender                   500 non-null    object
 2   Blood Pressure           500 non-null    int64
 3   Cholesterol              500 non-null    int64
 4   Heart Rate               500 non-null    int64
 5   Quantum Pattern Feature  500 non-null    float64
 6   Current Heart Disease    500 non-null    object
 7   Age with Gender          500 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 31.4+ KB
None

In [23]:
print(df1.describe())

              Age  Blood Pressure  Cholesterol  Heart Rate  \
count  500.000000      500.000000    500.00000  500.000000
mean    54.864000      132.874000    221.50000   88.766000
std     14.315004       26.418516     43.86363   17.417289
min     30.000000       90.000000    150.00000   60.000000
25%     43.000000      111.000000    183.75000   73.000000
50%     55.000000      132.000000    221.00000   89.000000
75%     66.250000      155.000000    258.00000  104.000000
max     79.000000      179.000000    299.00000  119.000000

       Quantum Pattern Feature
count               500.000000
mean                  8.317407
std                   0.919629
min                   6.164692
25%                   7.675779
50%                   8.323064
75%                   8.935999
max                  10.784886

In [24]:
print("\nFirst 5 Rows:")
df1.head() #top five data in the dataset

First 5 Rows:

,Age,Gender,Blood Pressure,Cholesterol,Heart Rate,Quantum Pattern Feature,Current Heart Disease,Age with Gender
0,79,Female,168,230,73,7.052413,Yes,79 Female
1,79,Male,96,247,116,8.327116,Yes,79 Male
2,79,Male,118,195,74,6.625696,Yes,79 Male
3,79,Female,121,237,69,8.293940,Yes,79 Female
4,79,Female,144,292,91,7.650543,Yes,79 Female

In [25]:
print("Corelationship between the data",df1.corr)

Corelationship between the data <bound method DataFrame.corr of      Age  Gender  Blood Pressure  Cholesterol  Heart Rate  \
0     79  Female             168          230          73
1     79    Male              96          247         116
2     79    Male             118          195          74
3     79  Female             121          237          69
4     79  Female             144          292          91
..   ...     ...             ...          ...         ...
495   30  Female             158          186          82
496   30    Male             144          158          61
497   30  Female             101          242         109
498   30    Male             109          246          62
499   30  Female             113          153          82

     Quantum Pattern Feature Current Heart Disease Age with Gender
0                   7.052413                   Yes       79 Female
1                   8.327116                   Yes         79 Male
2                   6.625696                   Yes         79 Male
3                   8.293940                   Yes       79 Female
4                   7.650543                   Yes       79 Female
..                       ...                   ...             ...
495                 7.236666                   Yes       30 Female
496                 7.361904                   Yes         30 Male
497                 9.004935                    No       30 Female
498                 7.613961                   Yes         30 Male
499                 6.693328                   Yes       30 Female

[500 rows x 8 columns]>

### Missing Values Handling

In [26]:
print("checking the null values or missing values ",df1.isnull().sum() )

checking the null values or missing values  Age                        0
Gender                     0
Blood Pressure             0
Cholesterol                0
Heart Rate                 0
Quantum Pattern Feature    0
Current Heart Disease      0
Age with Gender            0
dtype: int64

In [27]:
df1['Blood Pressure'].fillna(df1['Blood Pressure'].mean())
print("Updated dataset :",df1)

Updated dataset :      Age  Gender  Blood Pressure  Cholesterol  Heart Rate  \
0     79  Female             168          230          73
1     79    Male              96          247         116
2     79    Male             118          195          74
3     79  Female             121          237          69
4     79  Female             144          292          91
..   ...     ...             ...          ...         ...
495   30  Female             158          186          82
496   30    Male             144          158          61
497   30  Female             101          242         109
498   30    Male             109          246          62
499   30  Female             113          153          82

     Quantum Pattern Feature Current Heart Disease Age with Gender
0                   7.052413                   Yes       79 Female
1                   8.327116                   Yes         79 Male
2                   6.625696                   Yes         79 Male
3                   8.293940                   Yes       79 Female
4                   7.650543                   Yes       79 Female
..                       ...                   ...             ...
495                 7.236666                   Yes       30 Female
496                 7.361904                   Yes         30 Male
497                 9.004935                    No       30 Female
498                 7.613961                   Yes         30 Male
499                 6.693328                   Yes       30 Female

[500 rows x 8 columns]

### Duplicate Rows Removal

In [28]:
print("\n Duplicate rows:")
print(df1.duplicated().sum())
df1.drop_duplicates(inplace=True)  #Dropping the duplicate rows

 Duplicate rows:
0

### Data Type Conversion

In [29]:
# its is not required since we have not used the datatime format

## III. Exploratory Data Analysis (EDA)

### Descriptive Statistics

#### numerical columns

In [30]:
print("\nNumerical Summary:")
df1.describe() # count to check no of non empty values #Min #Max #stats of data

Numerical Summary:

,Age,Blood Pressure,Cholesterol,Heart Rate,Quantum Pattern Feature
count,500.000000,500.000000,500.00000,500.000000,500.000000
mean,54.864000,132.874000,221.50000,88.766000,8.317407
std,14.315004,26.418516,43.86363,17.417289,0.919629
min,30.000000,90.000000,150.00000,60.000000,6.164692
25%,43.000000,111.000000,183.75000,73.000000,7.675779
50%,55.000000,132.000000,221.00000,89.000000,8.323064
75%,66.250000,155.000000,258.00000,104.000000,8.935999
max,79.000000,179.000000,299.00000,119.000000,10.784886

In [31]:
print("\nMedians for numerical columns:")
print(df1.median(numeric_only=True))

Medians for numerical columns:
Age                         55.000000
Blood Pressure             132.000000
Cholesterol                221.000000
Heart Rate                  89.000000
Quantum Pattern Feature      8.323064
dtype: float64

In [32]:
print("\n mean for numerical columns:")
print(df1.mean(numeric_only=True))

 mean for numerical columns:
Age                         54.864000
Blood Pressure             132.874000
Cholesterol                221.500000
Heart Rate                  88.766000
Quantum Pattern Feature      8.317407
dtype: float64

In [33]:
print("\n skewness of the numerical columns:")
print(df1.skew(numeric_only=True))

 skewness of the numerical columns:
Age                       -0.105914
Blood Pressure             0.075715
Cholesterol                0.096326
Heart Rate                -0.003976
Quantum Pattern Feature    0.075851
dtype: float64

#### categorical columns

In [34]:
#not working need to check it 
print("\nCategorical Summary:")
for col in df1.select_dtypes(include=['object']).columns:
    print(f"\nValue counts for column '{col}':\n{df1[col].value_counts()}")

Categorical Summary:

Value counts for column 'Gender':
Gender
Female    266
Male      234
Name: count, dtype: int64

Value counts for column 'Current Heart Disease':
Current Heart Disease
Yes    300
No     200
Name: count, dtype: int64

Value counts for column 'Age with Gender':
Age with Gender
57 Female    11
64 Male      10
53 Male      10
54 Male      10
62 Male      10
             ..
72 Male       1
67 Female     1
49 Male       1
39 Male       1
33 Male       1
Name: count, Length: 98, dtype: int64

In [35]:
HeartDisease_counts = df1['Heart Disease'].value_counts()

KeyError: 'Heart Disease'

### Data Visualization

#### histograms or density plots for numerical

##### HISTOGRAM

In [ ]:
df1.hist(figsize=(12,10))
plt.show()

##### Bar plots

In [ ]:
print("\n Bar plots of categorical features:")
for col in df1.select_dtypes(include=['object']).columns:
    sns.countplot(x=col, data=df1)
    plt.title(f'Bar Plot of {col}')
    plt.show()

In [ ]:
print("\n Bar plots of categorical features:")
for col in df1.select_dtypes(include=['object']).columns:
    sns.countplot(x=col, data=df1)
    plt.title(f'Bar Plot of  Numerical features {col}')
    plt.show()

##### Box Plots (Outlier Detection):

In [ ]:
print("\n Box plots to find outlayers finding : ")
sns.boxplot(data=df1[['Age','Cholesterol','Blood Pressure','Heart Rate','Quantum Pattern Feature']],palette='coolwarm')
plt.xticks(rotation=90)
plt.title("Box Plot of features")
plt.show()

##### Scatter Plots (Relationship between Numerical Features)

In [ ]:
print("\n Scatter plot of age and cholesterol:")
print(sns.scatterplot(data=df1,x='Age',y='Cholesterol'))

In [ ]:
print("\n Scatter plot of Blood Pressure  and  Cholesterol:")
print(sns.scatterplot(data=df1,x='Blood Pressure',y='Cholesterol'))

In [ ]:
print("\n Heatmap of correlation map:")
map=df1.corr()
sns.heatmap(map,annot=True,cmap='coolwarm')
plt.title('Feature Correlation Heatmap')
plt.show()

### Group Analysis

In [ ]:
print("\n Group analysis by gender:")
print(df1.groupby('Gender')['Age'].mean())

In [ ]:
print("\n Group analysis by Cholesterol:")
print(df1.groupby('Cholesterol')['Age'].mean())

In [ ]:
print("\n Group analysis by Blood Pressure:")
print(df1.groupby('Blood Pressure')['Age'].mean())

In [ ]:
print("\n### Group analysis by Current Heart Disease:")
print(df1.groupby('Current Heart Disease')['Age'].mean())

In [ ]:
print("\n### Group analysis by Current Heart Disease:")
print(df1.groupby('Current Heart Disease')['Cholesterol'].mean())

In [ ]:
table = pd.pivot_table(df1, values=['Age'], index=['Cholesterol', 'Quantum Pattern Feature'],aggfunc={'Age': ["min", "max", "mean"]})
print("\n Pivot table:")
print(table)

#### Feature Analysis

##### pair plot

In [ ]:
print ("\n Pairplot:",sns.pairplot(df1[['Age','Cholesterol','Current Heart Disease','Blood Pressure']],height=1.5))

In [ ]:
plt.figure(figsize=(8, 6))
sns.boxplot(x='Quantum Pattern Feature', y='Age', data=df1)
plt.title("Box Plot of Age vs. Quantum Pattern Feature")
plt.show()

In [ ]:
correlation_matrix = df1.corr()
print(correlation_matrix['Current Heart Disease'].sort_values(ascending=False))

In [ ]:
# Age Distribution
plt.figure(figsize=(8, 6))
sns.histplot(df1['Age'], kde=True)
plt.title('Age Distribution')
plt.show()

In [ ]:
# Gender Distribution
plt.figure(figsize=(6, 4))
sns.countplot(x='Gender', data=df1)
plt.title('Gender Distribution')
plt.show()

In [ ]:
# Quantum Pattern Feature Distribution
plt.figure(figsize=(8, 6))
sns.histplot(df1['Quantum Pattern Feature'], kde=True)
plt.title('Quantum Pattern Feature Distribution')
plt.show()

In [ ]:
# Target Variable Distribution (Heart Disease)
plt.figure(figsize=(6, 4))
sns.countplot(x='Current Heart Disease', data=df1)
plt.title('Heart Disease Distribution')
plt.show()

In [ ]:
# Relationship between features and target variable
sns.pairplot(df1, hue='Current Heart Disease')
plt.show()

In [ ]:
# Feature Details:

print("\nFeature Details:")
for col in df1.columns:
    print(f"\nFeature: {col}")
    print(f"  - Data Type: {df1[col].dtype}")
    print(f"  - Unique Values: {df1[col].nunique()}")
    print(f"  - Unique Value Examples: {df1[col].unique()[:5]}") # Display first 5 unique values
    if df1[col].dtype != 'object': #avoid statistical details for object datatypes.
        print(f"  - Min: {df1[col].min()}")
        print(f"  - Max: {df1[col].max()}")
        print(f"  - Mean: {df1[col].mean()}")
        print(f"  - Standard Deviation: {df1[col].std()}")