In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df1=pd.read_csv('github_dataset.csv')
df1

,repositories,stars_count,forks_count,issues_count,pull_requests,contributors,language
0,octocat/Hello-World,0,0,612,316,2,NaN
1,EddieHubCommunity/support,271,150,536,6,71,NaN
2,ethereum/aleth,0,0,313,27,154,C++
3,localstack/localstack,0,0,290,30,434,Python
4,education/classroom,0,589,202,22,67,Ruby
...,...,...,...,...,...,...,...
1047,Tyriar/canvas-astar.dart,2,1,1,0,0,Dart
1048,ankitkumar70777/github-slideshow,0,0,1,0,8,HTML
1049,aitikgupta/interactive_cpu_scheduler,0,5,1,1,7,Python
1050,gwmccubbin/voting_dapp,11,5,1,0,0,JavaScript
1051,gamemann/All_PropHealth,4,3,1,0,0,SourcePawn

In [6]:
print(df1.shape)

(1052, 7)

In [7]:
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [8]:
print(df1.info)

<bound method DataFrame.info of                               repositories  stars_count  forks_count  \
0                      octocat/Hello-World            0            0
1                EddieHubCommunity/support          271          150
2                           ethereum/aleth            0            0
3                    localstack/localstack            0            0
4                      education/classroom            0          589
...                                    ...          ...          ...
1047              Tyriar/canvas-astar.dart            2            1
1048      ankitkumar70777/github-slideshow            0            0
1049  aitikgupta/interactive_cpu_scheduler            0            5
1050                gwmccubbin/voting_dapp           11            5
1051               gamemann/All_PropHealth            4            3

      issues_count  pull_requests  contributors    language
0              612            316             2         NaN
1              536              6            71         NaN
2              313             27           154         C++
3              290             30           434      Python
4              202             22            67        Ruby
...            ...            ...           ...         ...
1047             1              0             0        Dart
1048             1              0             8        HTML
1049             1              1             7      Python
1050             1              0             0  JavaScript
1051             1              0             0  SourcePawn

[1052 rows x 7 columns]>

In [57]:
df1.index

RangeIndex(start=0, stop=1052, step=1)

In [10]:
df1.columns

Index(['repositories', 'stars_count', 'forks_count', 'issues_count',
       'pull_requests', 'contributors', 'language'],
      dtype='object')

In [11]:
df1.head()

,repositories,stars_count,forks_count,issues_count,pull_requests,contributors,language
0,octocat/Hello-World,0,0,612,316,2,NaN
1,EddieHubCommunity/support,271,150,536,6,71,NaN
2,ethereum/aleth,0,0,313,27,154,C++
3,localstack/localstack,0,0,290,30,434,Python
4,education/classroom,0,589,202,22,67,Ruby

In [55]:
df1.describe()

       stars_count  forks_count  issues_count  pull_requests  contributors
count  1052.000000  1052.000000   1052.000000    1052.000000   1052.000000
mean     81.976236    53.884981      8.656844       4.374525      8.364068
std     170.403116   127.699729     32.445154      27.913732     37.511807
min       0.000000     0.000000      1.000000       0.000000      0.000000
25%       1.000000     1.000000      1.000000       0.000000      0.000000
50%      12.000000     6.000000      2.000000       0.000000      2.000000
75%      65.250000    38.250000      6.000000       2.000000      4.000000
max     995.000000   973.000000    612.000000     567.000000    658.000000

In [13]:
print(df1.count())

repositories     1052
stars_count      1052
forks_count      1052
issues_count     1052
pull_requests    1052
contributors     1052
language          907
dtype: int64

In [14]:
print(df1.stars_count.mean())

81.97623574144487

In [15]:
df1.duplicated(subset=None,keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
1047    False
1048    False
1049    False
1050    False
1051    False
Length: 1052, dtype: bool

In [16]:
df1

,repositories,stars_count,forks_count,issues_count,pull_requests,contributors,language
0,octocat/Hello-World,0,0,612,316,2,NaN
1,EddieHubCommunity/support,271,150,536,6,71,NaN
2,ethereum/aleth,0,0,313,27,154,C++
3,localstack/localstack,0,0,290,30,434,Python
4,education/classroom,0,589,202,22,67,Ruby
...,...,...,...,...,...,...,...
1047,Tyriar/canvas-astar.dart,2,1,1,0,0,Dart
1048,ankitkumar70777/github-slideshow,0,0,1,0,8,HTML
1049,aitikgupta/interactive_cpu_scheduler,0,5,1,1,7,Python
1050,gwmccubbin/voting_dapp,11,5,1,0,0,JavaScript
1051,gamemann/All_PropHealth,4,3,1,0,0,SourcePawn

In [30]:
df1.duplicated(subset=['stars_count'],keep='first')

0       False
1       False
2        True
3        True
4        True
        ...
1047     True
1048     True
1049     True
1050     True
1051     True
Length: 1052, dtype: bool

In [18]:
print(df1)

                              repositories  stars_count  forks_count  \
0                      octocat/Hello-World            0            0
1                EddieHubCommunity/support          271          150
2                           ethereum/aleth            0            0
3                    localstack/localstack            0            0
4                      education/classroom            0          589
...                                    ...          ...          ...
1047              Tyriar/canvas-astar.dart            2            1
1048      ankitkumar70777/github-slideshow            0            0
1049  aitikgupta/interactive_cpu_scheduler            0            5
1050                gwmccubbin/voting_dapp           11            5
1051               gamemann/All_PropHealth            4            3

      issues_count  pull_requests  contributors    language
0              612            316             2         NaN
1              536              6            71         NaN
2              313             27           154         C++
3              290             30           434      Python
4              202             22            67        Ruby
...            ...            ...           ...         ...
1047             1              0             0        Dart
1048             1              0             8        HTML
1049             1              1             7      Python
1050             1              0             0  JavaScript
1051             1              0             0  SourcePawn

[1052 rows x 7 columns]

In [24]:
print(df1.isnull())

      repositories  stars_count  forks_count  issues_count  pull_requests  \
0            False        False        False         False          False
1            False        False        False         False          False
2            False        False        False         False          False
3            False        False        False         False          False
4            False        False        False         False          False
...            ...          ...          ...           ...            ...
1047         False        False        False         False          False
1048         False        False        False         False          False
1049         False        False        False         False          False
1050         False        False        False         False          False
1051         False        False        False         False          False

      contributors  language
0            False      True
1            False      True
2            False     False
3            False     False
4            False     False
...            ...       ...
1047         False     False
1048         False     False
1049         False     False
1050         False     False
1051         False     False

[1052 rows x 7 columns]

In [25]:
print(df1.isnull().sum())

repositories       0
stars_count        0
forks_count        0
issues_count       0
pull_requests      0
contributors       0
language         145
dtype: int64

In [28]:
print("Total no of null values are : " ,df1.isnull().sum().sum())

Total no of null values are :  145

In [32]:
df1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1047    False
1048    False
1049    False
1050    False
1051    False
Length: 1052, dtype: bool

In [37]:
print(df1.stars_count.mean())

81.97623574144487

In [38]:
df1.head()

,repositories,stars_count,forks_count,issues_count,pull_requests,contributors,language
0,octocat/Hello-World,0,0,612,316,2,NaN
1,EddieHubCommunity/support,271,150,536,6,71,NaN
2,ethereum/aleth,0,0,313,27,154,C++
3,localstack/localstack,0,0,290,30,434,Python
4,education/classroom,0,589,202,22,67,Ruby

In [39]:
print(df1.stars_count.median())

12.0

In [41]:
print(df1.stars_count.std())

170.40311640290673

In [42]:
print(df1.contributors.mean())

8.364068441064639

In [43]:
df2=df1

In [44]:
df2

,repositories,stars_count,forks_count,issues_count,pull_requests,contributors,language
0,octocat/Hello-World,0,0,612,316,2,NaN
1,EddieHubCommunity/support,271,150,536,6,71,NaN
2,ethereum/aleth,0,0,313,27,154,C++
3,localstack/localstack,0,0,290,30,434,Python
4,education/classroom,0,589,202,22,67,Ruby
...,...,...,...,...,...,...,...
1047,Tyriar/canvas-astar.dart,2,1,1,0,0,Dart
1048,ankitkumar70777/github-slideshow,0,0,1,0,8,HTML
1049,aitikgupta/interactive_cpu_scheduler,0,5,1,1,7,Python
1050,gwmccubbin/voting_dapp,11,5,1,0,0,JavaScript
1051,gamemann/All_PropHealth,4,3,1,0,0,SourcePawn

In [49]:
df3=df2.drop(columns=['forks_count'])
df3

,repositories,stars_count,issues_count,pull_requests,contributors,language
0,octocat/Hello-World,0,612,316,2,NaN
1,EddieHubCommunity/support,271,536,6,71,NaN
2,ethereum/aleth,0,313,27,154,C++
3,localstack/localstack,0,290,30,434,Python
4,education/classroom,0,202,22,67,Ruby
...,...,...,...,...,...,...
1047,Tyriar/canvas-astar.dart,2,1,0,0,Dart
1048,ankitkumar70777/github-slideshow,0,1,0,8,HTML
1049,aitikgupta/interactive_cpu_scheduler,0,1,1,7,Python
1050,gwmccubbin/voting_dapp,11,1,0,0,JavaScript
1051,gamemann/All_PropHealth,4,1,0,0,SourcePawn

In [51]:
duplicates = df1.duplicated().sum()
print("\nDuplicate Rows:", duplicates)

Duplicate Rows: 80

In [53]:
print("\nMissing Values:")
print(df1.isnull().sum().sum())

Missing Values:
145

In [54]:
print("\nNumerical Summary:")
print(df1.describe())

Numerical Summary:
       stars_count  forks_count  issues_count  pull_requests  contributors
count  1052.000000  1052.000000   1052.000000    1052.000000   1052.000000
mean     81.976236    53.884981      8.656844       4.374525      8.364068
std     170.403116   127.699729     32.445154      27.913732     37.511807
min       0.000000     0.000000      1.000000       0.000000      0.000000
25%       1.000000     1.000000      1.000000       0.000000      0.000000
50%      12.000000     6.000000      2.000000       0.000000      2.000000
75%      65.250000    38.250000      6.000000       2.000000      4.000000
max     995.000000   973.000000    612.000000     567.000000    658.000000

In [58]:
print("\nCategorical Summary:")
categorical_cols = df1.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"{col}: {df1[col].nunique()} unique values")
    print(df1[col].value_counts().head())
    print()

Categorical Summary:
repositories: 972 unique values
repositories
iamshaunjp/css-grid-layouts                           2
carloscuesta/gitmoji                                  2
iamshaunjp/django-playlist                            2
kameshsampath/ansible-collection-kubernetes-spices    2
jgthms/bulma-website                                  2
Name: count, dtype: int64

language: 51 unique values
language
JavaScript    253
Python        155
HTML           72
Java           44
CSS            37
Name: count, dtype: int64

In [59]:
df1[col].nunique()

51

In [60]:
df1[col].value_counts()

language
JavaScript          253
Python              155
HTML                 72
Java                 44
CSS                  37
TypeScript           37
Dart                 36
Jupyter Notebook     29
C++                  29
Ruby                 28
C                    26
Shell                25
PHP                  16
Go                   15
Rust                 10
Swift                10
Objective-C           8
C#                    8
Kotlin                7
Makefile              6
Jinja                 5
SCSS                  4
AutoHotkey            3
Perl                  3
CoffeeScript          3
Solidity              3
Dockerfile            3
Pawn                  2
Vue                   2
Vim Script            2
Hack                  2
Elixir                2
CodeQL                2
PowerShell            2
Assembly              2
Haskell               1
PureBasic             1
Less                  1
QML                   1
Svelte                1
Smarty                1
R                     1
HCL                   1
Roff                  1
ActionScript          1
CMake                 1
Oz                    1
Gherkin               1
QMake                 1
Cuda                  1
SourcePawn            1
Name: count, dtype: int64